* {
  margin: 0;
  padding: 0;
}

body {
 /* background: url(); */
  background-repeat: no-repeat;
  font-family: sans-serif;
  height: 100vh;

}

.login-box {
  width: 320px;
  height: 420px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.registered-box {
  width: 320px;
  height: 450px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  display: block;
}


.avatar {
  width: 1block;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px)

}

.login-page h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;

}

.login-page label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;

}

.login-page input {
  width: 100%;
  margin-bottom: 20px;
}

.login-page input[type="text"],
.login-page input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.login-page input[type="button"]{
  border: none;
  outline: none;
  height: 40px;
  background: #b80f22;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.login-page a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.login-page a:hover {
  color: #fff;
}

.form .message {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.logOut-box {
  display: none;
}