* {
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  background-image: url("http://samadhicoaching.com/wp-content/uploads/2014/07/ToTheTop2.jpg");
  height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font-family: 'Lato';
 }


.navigation {
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #404041;
}

.navigation .nav-link {
  text-transform: uppercase;
  color: #fff;
  font-family: 'Fredoka One', cursive;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
  text-align: left;
  margin-left: 3%;
}

.navigation .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

/* contenido */

.bienvenida {
  width: 300px;
  height: 440px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  top: 55%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 28px 30px;
}


.bienvenida p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.textBienvenida {
  font-family: 'Loto';
  font-size: 20px;
  margin-top: px;
}

.textBienvenida2 {
  font-family: 'Loto';
  font-size: 20px;
}


 /* Boton "entrar" */

 .entrar {
  width: 100%;
  text-align: center;
  padding: 3%;
  display: inline-block;
  color: #fff !important;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: #318aac;
  border: 2px solid;
  border-color: #318aac;
  transition: all 1s ease;
  position: relative;
 }

 .entrar:hover {
  background: #318aac;
  color: #fff !important;
 }
